/* natural box model */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* UTILITIES */

/* hides an element on screen, but not from screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* no break */
.nobr {
  white-space: nowrap;
}

/* START STYLES HERE */

/* Credit to "https://www.w3docs.com/snippets/css/how-to-create-polaroid-image-with-css.html#" */

.polaroid a {
  background: #ffffff;
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}
.polaroid a:after {
  color: #333;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
}
.polaroid img {
  display: block;
  width: 250px;
}
.polaroid a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

/* index page */

body {
  background: rgb(27, 26, 26);
}

/* Photography Page */

.photo-article {
  text-align: center;
  color: white;
  padding: 50px;
}

/* Navigation */

nav {
  position: fixed;
}

nav ul {
  position: fixed;
  color: white;
  text-align: right;
  margin-top: -32px;
  margin-bottom: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
nav li {
  list-style-type: none;
  padding: 0.5em;
  margin: 0.5em;
}
.toggle:hover {
  color: fuchsia;
}
.item {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
.item a:hover {
  color: fuchsia;
}
.item a {
  color: black;
  font-size: 36px;
  text-decoration: none;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1.0rem 0.2rem 1.0rem;
}
.show {
  visibility: visible;
  opacity: 1;
}

.nav-title {
  color: #ffffff;
  padding-left: 10px;
}

.resume {
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
}


/* FOOTER */


.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: rgb(37, 37, 36);
} 

.footer-photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
} 

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.social-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 20px
}


.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h5 {
  margin-bottom: 30px;
}

/* About Page */


.about-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
  background-color: rgba(16, 15, 75, 0.705);
  text-align: center;
  margin-top: -300px;
}

.about-nav {
  padding-top: 10px;
}

.about-article h1 {
  margin-bottom: 360px;
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 100px;
  margin-top: -510px;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
  color: #ffffff;
  background-color: rgba(27, 26, 26, 0.705);
  width: 80%;
  height: 100%;
}

.socials {
  display: flex;
  flex-direction: column;
}

/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .about-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
    background-color: rgba(51, 47, 47, 0.705);
    text-align: center;
  } 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .about-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15%;
    color: #ffffff;
    width: 70%;
    margin-left: 15%;
    background-color: rgba(51, 47, 47, 0.705);
    text-align: center;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* MEDIA QUERIES FROM LARGEST TO SMALLEST */
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {

} */

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {

} */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {

} */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) {

} */

/* Extra large devices (large desktops)
No media query since the extra-large breakpoint has no upper bound on its width */